<template name="focus">
<div id="focus">
  <form id="rename-form">
    <table>
      <tr>
        <td>Text</td>
        <td>{{> inputAutocomplete settings=text_settings id="focus-edit-text" value=initial_value name="text"}}</td>
      </tr>
      {{#unless root}}
      <tr>
        <td>Parent</td>
        <td>{{> inputAutocomplete settings=parent_settings id="focus-edit-parent" value=parent_value name="parent"}}</td>
      </tr>
      {{/unless}}
      <tr>
        <td>Points</td>
        <td><input type="text" name="val" value="{{val}}"></td>
      </tr>
      {{{recordStats}}}
    </table>
    <br>
    <input type="submit" style="display:none">
  </form>
  {{> help}}
</div>
</template>

