<template name="/">
<head>
  <title>self-mastree</title>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="content">
    <header>
      <a href="/"><img src="/zenchinese.png" class="logo"/></a>
      {{> loginButtons}}
      {{> quickswitcher}}
    </header>
    {{#if currentUser}}
    {{> root}}
    {{> focus}}
    {{else}}
    Login or create an account to use Self-Mastree.
    {{/if}}
  </div>
</body>
</template>
